<div class="w3-container " id="body">
    <ul class="breadcrumb">
        <li><a href="admin_homepage"><i class="fa fa-home w3-margin-left"></i> Home</a></li>
        <li class="separator"><i class="fa fa-angle-right"></i></li>
        <li><a href="admin_categorie">Gestisci categorie</a></li>
        <#if psottocategoria??> 
            <li class="separator"><i class="fa fa-angle-right"></i></li>
            <li><a href="admin_sottocategorie?cat=${psottocategoria.categoria}">Gestisci sottocategorie</a></li>
            <li class="separator"><i class="fa fa-angle-right"></i></li>
            <li><a href="admin_microcategorie?scat=${psottocategoria.nome?url}">Gestisci microcategorie</a></li>
        </#if>
        <li class="separator"><i class="fa fa-angle-right"></i></li>
        <li class="currentpage_bc"><#if psottocategoria?? && pmicrocategoria??>Modifica microcategoria<#else>Nuova microcategoria</#if></li>
    </ul>
    
    <h1 class="w3-center form-title">
        <#if psottocategoria?? && pmicrocategoria??>Modifica Microcategoria<#else>Aggiungi Microcategoria</#if>
    </h1>
    <div class="form-container w3-center">
    <form method="POST" action="admin_microcategoria" id="mcategoria">
        <input type="hidden" name="action" value="<#if psottocategoria?? && pmicrocategoria??>modificaMicrocategoria<#else>aggiungiMicroCategoria</#if>">
        <#if psottocategoria?? && pmicrocategoria??>
            <input type="hidden" name="OLD" value="${pmicrocategoria.nome}">
        </#if>
        <#if (sottocategorie?size > 0)>
            <label class="label-form" for="sottocategoria_padre">Sottocategoria</label>
            <select class="w3-input w3-border w3-round input-form" id="sottocategoria_padre" name="sottocategoria_padre" required>
                <option value="" disabled <#if !(psottocategoria??)>selected</#if> hidden>Sottocategoria</option>
                <#list sottocategorie as sottocategoria>
                    <option value="${sottocategoria.key}" 
                            <#if psottocategoria?? && sottocategoria.nome == psottocategoria.nome>selected</#if>>
                        ${sottocategoria.nome}
                    </option>
                </#list>
            </select>
        </#if>
        <label class="label-form" for="nome">Nome microcategoria</label>
        <input class="w3-input w3-border input-form" type="text" id="nome" name="nome" maxlength="45" placeholder="Nome" 
               <#if psottocategoria?? && pmicrocategoria??> value="${pmicrocategoria.nome}"</#if> required>
        <input class="w3-button w3-blue w3-border w3-round button-card" type="submit" value="<#if psottocategoria?? && pmicrocategoria??>Aggiorna<#else>Aggiungi</#if>">
    </form>
</div>

</div>