<div class="w3-container" id="body">
    <p class="greeting">Ciao ${utente}</p>
    <div class="w3-container">
        <div class="w3-row-padding">
            <div class="w3-third w3-padding">
                 <div class="w3-card-4 admin-card-home">

                    <div class="w3-container w3-blue admin-card-title">
                      <h1>Richieste</h1>
                    </div>

                    <div class="w3-container admin-card-content">
                         <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Totali:</div>
                            <div class="w3-half w3-container w3-padding ">${nrichieste}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Attive:</div>
                            <div class="w3-half w3-container w3-padding ">${nrichiesteap}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Concluse:</div>
                            <div class="w3-half w3-container w3-padding ">${nrichiestechiuse}</div>
                        </div>
                    </div>                   
                </div>             
            </div>
            
            
           <div class="w3-third w3-padding">
                 <div class="w3-card-4 admin-card-home">

                    <div class="w3-container w3-blue  admin-card-title">
                      <h1>Proposte</h1>
                    </div>

                    <div class="w3-container admin-card-content">
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Totali:</div>
                            <div class="w3-half w3-container w3-padding ">${nproposte}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Attive:</div>
                            <div class="w3-half w3-container w3-padding ">${nproposteap}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Concluse:</div>
                            <div class="w3-half w3-container w3-padding ">${npropostechiuse}</div>
                        </div>
                    </div>                   
                </div>             
            </div>
            
           <div class="w3-third w3-padding">
                 <div class="w3-card-4 admin-card-home">

                    <div class="w3-container w3-blue admin-card-title">
                      <h1>Ordini</h1>
                    </div>

                    <div class="w3-container admin-card-content">
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Totali: </div>
                            <div class="w3-half w3-container w3-padding ">${nordini}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Accettati:</div>
                            <div class="w3-half w3-container w3-padding ">${nordiniac}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Rifiutati:</div>
                            <div class="w3-half w3-container w3-padding ">${nordinirif}</div>
                        </div>
                    </div>                   
                </div>             
            </div>
        
        </div>   
        
        <div class="w3-row-padding w3-margin-top">
            <div class="w3-third w3-padding">
                 <div class="w3-card-4 admin-card-home">

                    <div class="w3-container w3-blue admin-card-title">
                      <h1>Utenti</h1>
                    </div>

                    <div class="w3-container admin-card-content">
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Totali:</div>
                            <div class="w3-half w3-container w3-padding ">${nutenti}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Ordinanti:</div>
                            <div class="w3-half w3-container w3-padding ">${nord}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Tecnici:</div>
                            <div class="w3-half w3-container w3-padding ">${ntec}</div>
                        </div>
                    </div>                   
                </div>             
            </div>
            
            
           <div class="w3-third w3-padding">
                 <div class="w3-card-4 admin-card-home">

                    <div class="w3-container w3-blue admin-card-title">
                      <h1>Categorie</h1>
                    </div>

                    <div class="w3-container admin-card-content">
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Categorie</div>
                            <div class="w3-half w3-container w3-padding ">${ncategorie}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Sottocategorie:</div>
                            <div class="w3-half w3-container w3-padding ">${nscategorie}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Microcategorie:</div>
                            <div class="w3-half w3-container w3-padding ">${nmcategorie}</div>
                        </div>
                    </div>                   
                </div>             
            </div>
            
           <div class="w3-third w3-padding">
                 <div class="w3-card-4 admin-card-home">

                    <div class="w3-container w3-blue admin-card-title">
                        <h1>Caratteristiche</h1>
                    </div>

                    <div class="w3-container admin-card-content">
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding ">Totali:</div>
                            <div class="w3-half w3-container w3-padding ">${ncaratteristiche}</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding "><br></div>
                            <div class="w3-half w3-container w3-padding "><br></div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-half w3-container w3-padding "><br></div>
                            <div class="w3-half w3-container w3-padding "><br></div>
                        </div>
                    </div>                   
                </div>             
            </div>
        </div>          
    </div>   
</div> 