<div class="w3-container" id="body">
    <ul class="breadcrumb"> 
     <li><a href="ordinante_homepage"><i class="fa fa-home w3-margin-left"></i> Home</a></li>
    <li class="separator"><i class="fa fa-angle-right"></i></li>
    <li class="currentpage_bc">Proposte attive</li>
</ul>
    
    <h1 class="w3-center list-items-title">Proposte attive</h1>
    <div class="list-items-container">
        <div class="w3-responsive">
            <table class="w3-table-all w3-centered">
                <tr>
                    <th>Proposta</th>
                    <th>Richiesta</th>
                    <th>Data proposta</th>
                    <th>Stato</th>
                </tr>
                <#list proposte as proposta>
                <tr <#if proposta.revisione == "In attesa"> class="highlight" </#if> onclick="location.href='ordinante_detail_proposta?id=${proposta.key}'" >
                        <td>${proposta.key}</td>
                        <td>${proposta.IDric}</td>
                        <td>${proposta.data}</td>
                        <td>${proposta.revisione}</td>
                    </tr>
                </#list>
            </table>
        </div>
    </div>       
</div>