<div class="w3-container" id="body">
    <ul class="breadcrumb">
        <li><a href="ordinante_homepage"><i class="fa fa-home w3-margin-left"></i> Home</a></li>
        <li class="separator"><i class="fa fa-angle-right"></i></li>
        <li class="currentpage_bc">Ordini</li>
    </ul>
    
    <h1 class="w3-center list-items-title">Ordini</h1>
    <div class="list-items-container">
        <div class="w3-responsive">
            <table class="w3-table-all w3-centered">
                <tr>
                    <th>Codice</th>
                    <th>Data ordine</th>
                    <th>Data consegna</th>
                    <th>Stato</th>
                </tr>
                <#list ordini as ordine>
                    <tr <#if ordine.stato == "In attesa"> class="highlight" </#if> onclick="location.href='ordinante_detail_ordine?id=${ordine.key}'" >
                        <td>${ordine.key}</td>
                        <td>${ordine.dataOrdine}</td>
                        <td>${ordine.dataConsegna}</td>
                        <td>${ordine.stato}</td>
                    </tr>
                </#list>
            </table>
        </div>
    </div>       
</div>