<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>data.source</param-name>
        <param-value>jdbc/web_engineering</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.static.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <!--    User management: filtri-->
    <filter>
        <filter-name>RoleFilters</filter-name>
        <filter-class>framework.security.RoleFilters</filter-class>
    </filter>
    <!--Pagine a cui applicare i filtri-->
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/impostazioni</url-pattern>
    </filter-mapping> 
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/admin_caratteristica</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/admin_caratteristiche</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/admin_categoria</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/admin_categorie</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/admin_sottocategoria</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/admin_sottocategorie</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/admin_microcategoria</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/admin_microcategorie</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/admin_homepage</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/admin_utente</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/admin_utenti</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/ordinante_detail_ordine</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/ordinante_detail_proposta</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/richiesta</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/ordinante_detail_richiesta</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/ordinante_homepage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/ordinante_ordini</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/ordinante_proposte</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/ordinante_storico</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilters</filter-name>
        <url-pattern>/ordine_rifiuto</url-pattern>
    </filter-mapping>
        
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/tecnico_detail_ordine</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/proposta</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/tecnico_detail_proposta</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/tecnico_detail_richiesta</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/tecnico_homepage</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/tecnico_ordini</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/tecnico_proposte</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <filter-name>RoleFilters</filter-name>
            <url-pattern>/tecnico_richieste</url-pattern>
    </filter-mapping>
   
    <!--Mapping Servlet-Classe-->
    <!--Admin-->
    <servlet>
        <servlet-name>AdminCaratteristica</servlet-name>
        <servlet-class>controller.AdminCaratteristica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCaratteristiche</servlet-name>
        <servlet-class>controller.AdminCaratteristiche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoria</servlet-name>
        <servlet-class>controller.AdminCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategorie</servlet-name>
        <servlet-class>controller.AdminCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSottocategoria</servlet-name>
        <servlet-class>controller.AdminSottocategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSottocategorie</servlet-name>
        <servlet-class>controller.AdminSottocategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMicrocategoria</servlet-name>
        <servlet-class>controller.AdminMicrocategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMicrocategorie</servlet-name>
        <servlet-class>controller.AdminMicrocategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomepage</servlet-name>
        <servlet-class>controller.AdminHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUtente</servlet-name>
        <servlet-class>controller.AdminUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUtenti</servlet-name>
        <servlet-class>controller.AdminUtenti</servlet-class>
    </servlet>
    <!--Ordinante-->
    <servlet>
        <servlet-name>OrdinanteOrdineDetail</servlet-name>
        <servlet-class>controller.OrdinanteOrdineDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdinantePropostaDetail</servlet-name>
        <servlet-class>controller.OrdinantePropostaDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdinanteRichiesta</servlet-name>
        <servlet-class>controller.OrdinanteRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdinanteRichiestaDetail</servlet-name>
        <servlet-class>controller.OrdinanteRichiestaDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdinanteHomepage</servlet-name>
        <servlet-class>controller.OrdinanteHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdinanteOrdini</servlet-name>
        <servlet-class>controller.OrdinanteOrdini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdinanteProposte</servlet-name>
        <servlet-class>controller.OrdinanteProposte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdinanteStorico</servlet-name>
        <servlet-class>controller.OrdinanteStorico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdineRifiuto</servlet-name>
        <servlet-class>controller.OrdineRifiuto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropostaRifiuto</servlet-name>
        <servlet-class>controller.PropostaRifiuto</servlet-class>
    </servlet>
    <!--Tecnico-->
    <servlet>
        <servlet-name>TecnicoOrdineDetail</servlet-name>
        <servlet-class>controller.TecnicoOrdineDetail</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>TecnicoProposta</servlet-name>
        <servlet-class>controller.TecnicoProposta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicoPropostaDetail</servlet-name>
        <servlet-class>controller.TecnicoPropostaDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicoRichiestaDetail</servlet-name>
        <servlet-class>controller.TecnicoRichiestaDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicoRichiestaCaricoDetail</servlet-name>
        <servlet-class>controller.TecnicoRichiestaCaricoDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicoHomepage</servlet-name>
        <servlet-class>controller.TecnicoHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicoOrdini</servlet-name>
        <servlet-class>controller.TecnicoOrdini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicoProposte</servlet-name>
        <servlet-class>controller.TecnicoProposte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicoRichieste</servlet-name>
        <servlet-class>controller.TecnicoRichieste</servlet-class>
    </servlet>
    <!--Altro-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Impostazioni</servlet-name>
        <servlet-class>controller.Impostazioni</servlet-class>
    </servlet>
    <!--Mapping Servlet-Template-->
    <!--Admin-->
    <servlet-mapping>
        <servlet-name>AdminCaratteristica</servlet-name>
        <url-pattern>/admin_caratteristica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCaratteristiche</servlet-name>
        <url-pattern>/admin_caratteristiche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoria</servlet-name>
        <url-pattern>/admin_categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategorie</servlet-name>
        <url-pattern>/admin_categorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSottocategoria</servlet-name>
        <url-pattern>/admin_sottocategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSottocategorie</servlet-name>
        <url-pattern>/admin_sottocategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMicrocategoria</servlet-name>
        <url-pattern>/admin_microcategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMicrocategorie</servlet-name>
        <url-pattern>/admin_microcategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomepage</servlet-name>
        <url-pattern>/admin_homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUtente</servlet-name>
        <url-pattern>/admin_utente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUtenti</servlet-name>
        <url-pattern>/admin_utenti</url-pattern>
    </servlet-mapping>
    <!--Ordinante-->
    <servlet-mapping>
        <servlet-name>OrdinanteOrdineDetail</servlet-name>
        <url-pattern>/ordinante_detail_ordine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdinantePropostaDetail</servlet-name>
        <url-pattern>/ordinante_detail_proposta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdinanteRichiesta</servlet-name>
        <url-pattern>/richiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdinanteRichiestaDetail</servlet-name>
        <url-pattern>/ordinante_detail_richiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdinanteHomepage</servlet-name>
        <url-pattern>/ordinante_homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdinanteOrdini</servlet-name>
        <url-pattern>/ordinante_ordini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdinanteProposte</servlet-name>
        <url-pattern>/ordinante_proposte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdinanteStorico</servlet-name>
        <url-pattern>/ordinante_storico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdineRifiuto</servlet-name>
        <url-pattern>/ordine_rifiuto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropostaRifiuto</servlet-name>
        <url-pattern>/proposta_rifiuto</url-pattern>
    </servlet-mapping>
    <!--Tecnico-->
    <servlet-mapping>
        <servlet-name>TecnicoOrdineDetail</servlet-name>
        <url-pattern>/tecnico_detail_ordine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicoProposta</servlet-name>
        <url-pattern>/proposta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicoPropostaDetail</servlet-name>
        <url-pattern>/tecnico_detail_proposta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicoRichiestaDetail</servlet-name>
        <url-pattern>/tecnico_detail_richiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicoHomepage</servlet-name>
        <url-pattern>/tecnico_homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicoOrdini</servlet-name>
        <url-pattern>/tecnico_ordini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicoProposte</servlet-name>
        <url-pattern>/tecnico_proposte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicoRichieste</servlet-name>
        <url-pattern>/tecnico_richieste</url-pattern>
    </servlet-mapping>
    <!--Altro-->
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Impostazioni</servlet-name>
        <url-pattern>/impostazioni</url-pattern>
    </servlet-mapping>
    <!--Servlet Dummy-->
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controller.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>security.protect.patterns</param-name>
        <!-- qui configuriamo i pattern delle URL da proteggere, da abilitare una volta finito -->
        <param-value>
            <!-- Admin -->      
            /admin_caratteristica,
            /admin_caratteristiche,
            /admin_categoria,
            /admin_categorie,
            /admin_homepage,
            /admin_utente,
            /admin_utenti,
            /admin_sottocategoria,
            /admin_sottocategorie,
            /admin_microcategoria,
            /admin_microcategorie,
                 
            <!-- Ordinante -->
            /impostazioni,
            /ordinante_detail_ordine,
            /ordinante_detail_proposta,
            /ordinante_detail_richiesta,
            /ordinante_homepage,
            /ordinante_ordini,
            /ordinante_proposte,
            /ordinante_storico,
            /richiesta,
            /proposta_rifiuto,
            
            <!-- Tecnico -->
            /proposta,
            /tecnico_detail_ordine,
            /tecnico_detail_proposta,
            /tecnico_detail_richiesta,
            /tecnico_homepage,
            /tecnico_ordini,
            /tecnico_proposte
        </param-value>
    </context-param>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <!--  url pattern della Servlet iniziale-->
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/web_engineering</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>